**Please run the following code**

In [5]:
import warnings
warnings.filterwarnings('ignore')

**Load the berlin_airbnb data into df dataframe and display the first 5 rows of df**

In [7]:
import pandas as pd

df = pd.read_csv('berlin_airbnb.csv')
df.head()

,property id,neighborhood and city,country,property_type,bedrooms,bed_type,price,guests_included,maximum_nights,has_availability,number_of_reviews,review_date
0,27489679,Adlershof: Berlin,Germany,Apartment,0- beds,Real Bed,43.0,1.0,1125,t,40.0,1/3/2016
1,25020552,Adlershof: Berlin,Germany,Apartment,0- beds,Real Bed,25.0,1.0,1125,t,4.0,1/12/2016
2,1032446,Adlershof: Berlin,Germany,Apartment,1- beds,Real Bed,17.0,1.0,30,t,2.0,9/11/2015
3,1032446,Adlershof: Berlin,Germany,Apartment,1- beds,Real Bed,17.0,1.0,30,t,2.0,9/11/2015
4,19844167,Adlershof: Berlin,Germany,Apartment,1- beds,Real Bed,75.0,2.0,14,t,2.0,7/23/2018

**Question 1:**

a. Display the shape (number of rows and number of columns) of the dataframe

In [9]:
df.shape

(16587, 12)

b. Display the list of columns in the df dataframe

In [11]:
df.columns

Index(['property id', 'neighborhood and city', 'country', 'property_type',
       'bedrooms', 'bed_type', 'price', 'guests_included', 'maximum_nights',
       'has_availability', 'number_of_reviews', 'review_date'],
      dtype='object')

c. Create a deep copy of df and save into df1

In [13]:
df1 = df.copy()

**Question 2: Remove Leading or Trailing Spaces for all columns**

In [182]:
df1.columns = df1.columns.str.strip()

**Question 3:**

a. drop 'guests_included' and 'maximum_nights'columns from df1 dataftame

In [184]:
df1.drop(['guests_included', 'maximum_nights'], axis=1, inplace=True)

KeyError: "['guests_included', 'maximum_nights'] not found in axis"

b. Display the shape (number of rows and number of columns) of  df1 dataframe

In [ ]:
df1.shape

**Question 4: removing duplicate rows**

a. Remove Duplicate rows from df1 dataframe

In [21]:
df1.drop_duplicates(inplace=True)

b. Display the shape (number of rows and number of columns) of df1 dataframe

In [23]:
df1.shape

(16577, 10)

c. please type in the following cell: how many duplicate rows have been removed?
**there was only only 1 duplicate rows removed**

**Question 5: Identifying missing Values**

a. Display how many missing values we have in each column in df1 dataframe

In [27]:
df1.isnull().sum()

property id                 0
neighborhood and city       0
country                     0
property_type               0
bedrooms                    0
bed_type                    0
price                       9
has_availability           32
number_of_reviews          12
review_date              2943
dtype: int64

b. Replace the missing values in 'price' column with median of 'price' using fillna() method.

In [29]:
df1['price'].fillna(df1['price'].median(), inplace=True)

c. Replace the missing values in 'number_of_reviews' column with average of 'number_of_reviews' using fillna() method.

In [31]:
df1['number_of_reviews'].fillna(df1['number_of_reviews'].mean(), inplace=True)

d. Replace the missing value in 'has_availability' column with 'null'

In [33]:
df1['has_availability'].fillna('null', inplace=True)

e. Show again how many missing values we have in each column in df1 dataframe

In [35]:
df1.isnull().sum()

property id                 0
neighborhood and city       0
country                     0
property_type               0
bedrooms                    0
bed_type                    0
price                       0
has_availability            0
number_of_reviews           0
review_date              2943
dtype: int64

f. Drop the rows that have missing values in the df1 dataframe

In [37]:
df1.dropna(inplace = True)

g. Display the shape (number of rows and number of columns) of df1 dataframe

In [39]:
df1.shape

(13634, 10)

h. Show again how many missing values we have in each column in df1 dataframe

In [41]:
df1.isnull().sum()

property id              0
neighborhood and city    0
country                  0
property_type            0
bedrooms                 0
bed_type                 0
price                    0
has_availability         0
number_of_reviews        0
review_date              0
dtype: int64

**Question 6: Removing redundant spaces in the middle of String**

a. Display unique values in 'bed_type' column in df1 dataframe

In [44]:
df1['bed_type'].unique()

array(['Real Bed', 'Pull-out Sofa', 'Futon', 'Couch', 'Airbed',
       'Real      Bed', 'Real    Bed', 'Real   Bed'], dtype=object)


b. In the following, type a code to remove redundant spaces in the middle of String in 'bed_type' column

In [46]:
df1['bed_type']= df1['bed_type'].str.replace('\s+', ' ', regex=True)

c. Display unique values in 'bed_type' column in df1 dataframe to make sure the spaces are removed

In [48]:
df1['bed_type'].unique()

array(['Real Bed', 'Pull-out Sofa', 'Futon', 'Couch', 'Airbed'],
      dtype=object)

**Question 7: Splitting data into two columns**

a. Split 'neighborhood and city' column into two columns: 'neighborhood' column and 'city' column

In [51]:
df1[['neighborhood', 'city']] = df1['neighborhood and city'].str.split(': ', expand=True)

b. Display the first 2 rows of df1 dataframe

In [53]:
df1.head(2)

,property id,neighborhood and city,country,property_type,bedrooms,bed_type,price,has_availability,number_of_reviews,review_date,neighborhood,city
0,27489679,Adlershof: Berlin,Germany,Apartment,0- beds,Real Bed,43.0,t,40.0,1/3/2016,Adlershof,Berlin
1,25020552,Adlershof: Berlin,Germany,Apartment,0- beds,Real Bed,25.0,t,4.0,1/12/2016,Adlershof,Berlin

c. Drop 'neighborhood and city' column from df1 dataframe

In [55]:
df1.drop(['neighborhood and city'], axis=1, inplace=True)

d. Display the first 2 rows of df1 dataframe

In [57]:
df1.head(2)

,property id,country,property_type,bedrooms,bed_type,price,has_availability,number_of_reviews,review_date,neighborhood,city
0,27489679,Germany,Apartment,0- beds,Real Bed,43.0,t,40.0,1/3/2016,Adlershof,Berlin
1,25020552,Germany,Apartment,0- beds,Real Bed,25.0,t,4.0,1/12/2016,Adlershof,Berlin

**Question 8: Fixing the 'has_availability' Column**

a. Show unique values in 'has_availability' column in df1 dataframe

In [60]:
df1['has_availability'].unique()

array(['t', 'TRUE', 'FALSE', 'f', 'null'], dtype=object)

b. Use .loc method to create a new column 'has_availability1' that:

    * Sets any t, or True values to True
    * Sets any f, or False values to False
    * Sets null to Unknown

In [62]:
df1.loc[(df1['has_availability'] == 't') |  (df1['has_availability'] == 'True') , 'has_availability1'] = 'True'
df1.loc[(df1['has_availability'] == 'F') |  (df1['has_availability'] == 'False'),'has_availability1'] = 'False'
df1.loc[(df1['has_availability'] == 'null') ,'has_availability1'] = 'Unknown'

c. Display the first 2 rows of df1 dataframe

In [64]:
df1.head(2)

,property id,country,property_type,bedrooms,bed_type,price,has_availability,number_of_reviews,review_date,neighborhood,city,has_availability1
0,27489679,Germany,Apartment,0- beds,Real Bed,43.0,t,40.0,1/3/2016,Adlershof,Berlin,True
1,25020552,Germany,Apartment,0- beds,Real Bed,25.0,t,4.0,1/12/2016,Adlershof,Berlin,True

d. Create the frequency table for 'has_availability1' using value_counts()

In [66]:
df1['has_availability1'].value_counts()

has_availability1
True       13155
Unknown       28
Name: count, dtype: int64

e. Drop 'has_availability' column from df1 dataframe

In [68]:
df1.drop(['has_availability'], axis=1, inplace=True)

f. Display the first 2 rows of df1 dataframe

In [70]:
df1.head(2)

,property id,country,property_type,bedrooms,bed_type,price,number_of_reviews,review_date,neighborhood,city,has_availability1
0,27489679,Germany,Apartment,0- beds,Real Bed,43.0,40.0,1/3/2016,Adlershof,Berlin,True
1,25020552,Germany,Apartment,0- beds,Real Bed,25.0,4.0,1/12/2016,Adlershof,Berlin,True

**Question 9: Extracting Numeric Data from Text**

a. Use replace() method to extract the numeric part from 'bedrooms' column, convert it to **integer**, and save it to a new column named 'bedrooms1' . Display the first 2 rows of df1.
   * For example if we have 0- beds in 'bedrooms' column, we should have 0 in 'bedrooms1' column.

b. Calculate average number of bedrooms in bedrooms1 column for each neighborhood, sort it in descending order, and display the first five rows in the output.

In [74]:
df1['bedrooms'] = df1['bedrooms'].str.replace('- beds', '').astype(int)

In [75]:
df1.head()

,property id,country,property_type,bedrooms,bed_type,price,number_of_reviews,review_date,neighborhood,city,has_availability1
0,27489679,Germany,Apartment,0,Real Bed,43.0,40.0,1/3/2016,Adlershof,Berlin,True
1,25020552,Germany,Apartment,0,Real Bed,25.0,4.0,1/12/2016,Adlershof,Berlin,True
2,1032446,Germany,Apartment,1,Real Bed,17.0,2.0,9/11/2015,Adlershof,Berlin,True
4,19844167,Germany,Apartment,1,Real Bed,75.0,2.0,7/23/2018,Adlershof,Berlin,True
5,21563130,Germany,Apartment,1,Real Bed,55.0,4.0,7/16/2018,Adlershof,Berlin,True

**Question 10: Ensuring Data make sense and replacing it with valid values if needed**

a. Read in the berlin_neighborhoods.csv file into  dataframe called valid_df. Display the first 5 rows of valid_df.

In [77]:
valid_df = pd.read_csv('berlin_neighborhoods.csv')
df.head()

,property id,neighborhood and city,country,property_type,bedrooms,bed_type,price,guests_included,maximum_nights,has_availability,number_of_reviews,review_date
0,27489679,Adlershof: Berlin,Germany,Apartment,0- beds,Real Bed,43.0,1.0,1125,t,40.0,1/3/2016
1,25020552,Adlershof: Berlin,Germany,Apartment,0- beds,Real Bed,25.0,1.0,1125,t,4.0,1/12/2016
2,1032446,Adlershof: Berlin,Germany,Apartment,1- beds,Real Bed,17.0,1.0,30,t,2.0,9/11/2015
3,1032446,Adlershof: Berlin,Germany,Apartment,1- beds,Real Bed,17.0,1.0,30,t,2.0,9/11/2015
4,19844167,Adlershof: Berlin,Germany,Apartment,1- beds,Real Bed,75.0,2.0,14,t,2.0,7/23/2018

b. Use .loc and isin method to create a new column called 'valid_neighborhood' in the df1 dataframe. If the 'neighborhood' in the df1 dataframe is valid, the value for 'valid_neighborhood' will be 1. If the 'neighborhood' in the df1 dataframe is invalid, the value for 'valid_neighborhood' will be 0.

In [79]:
df1.loc[df1['neighborhood'].isin(valid_df['berlin_neighborhoods']),'valid_neighborhood'] = 1
df1.loc[~df1['neighborhood'].isin(valid_df['berlin_neighborhoods']),'valid_neighborhood'] = 0

c. Explain (in detail) how the above code works.

In [180]:
#The code creates or updates a column called 'valid_neighborhood' in df1.
#If the neighborhood in df1 exists in valid_df['berlin_neighborhoods'], it assigns 1 to the column (valid).
#If it doesn't exist, it assigns 0 (invalid).

d. Create a frequency table to display the number of valid neighborhoods and the number of invalid neighborhoods in df1 dataframe

In [82]:
df1['valid_neighborhood'].value_counts()

valid_neighborhood
1.0    13631
0.0        3
Name: count, dtype: int64

e. Subset the df1 dataframe to show 'neighborhood' column and 'valid_neighborhood' column for which valid_neighborhood's value is 0 (the output of this code will show you the invalid neighborhood)

In [84]:
df1[['neighborhood', 'valid_neighborhood']].loc[df1['valid_neighborhood'] == 0]

      neighborhood  valid_neighborhood
2512     Friedrich                 0.0
15172         Wedy                 0.0
16578        Zehle                 0.0

f. In the following, use .loc() method to replace 'Zehle' neighborhood with 'Zehlendorf'.

In [86]:
df1.loc[df1['neighborhood']=='Zehlendorf', 'neighborhood'] = 'Zehle'

g. In the following, use .loc() method to set 'valid_neighborhood' column's value to 1 if the neighborhood is 'Zehlendorf'.

**Note:** since we replaced 'Zehle' with 'Zehlendorf', we want to make sure that its value in valid_neighborhood column is 1.

In [88]:
df1[['neighborhood', 'valid_neighborhood']].loc[df1['valid_neighborhood'] == 1]

      neighborhood  valid_neighborhood
0        Adlershof                 1.0
1        Adlershof                 1.0
2        Adlershof                 1.0
4        Adlershof                 1.0
5        Adlershof                 1.0
...            ...                 ...
16582        Zehle                 1.0
16583        Zehle                 1.0
16584        Zehle                 1.0
16585        Zehle                 1.0
16586        Zehle                 1.0

[13631 rows x 2 columns]

h. In the following type a code to **drop the rows** for which 'neighborhood' is 'Friedrich' or 'Wedy'.

**Note:** review data cleaning1 notebook to find out how to drop rows with invalid values from dataframe.

In [90]:
df1.drop(df1.loc[df1['neighborhood'].isin(['Friedrich', 'Wedy'])].index, inplace=True)

i. To make sure you've replaced/deleted the rows with invalid neighborhood, subset the df1 dataframe again to show 'neighborhood' column and 'valid_neighborhood' column for which valid_neighborhood's value is 0.

In [92]:
df1[['neighborhood', 'valid_neighborhood']].loc[df1['valid_neighborhood'] == 0]

      neighborhood  valid_neighborhood
16578        Zehle                 0.0

**Question 11:**

a. convert 'review_date' column's data type to date/time

In [94]:
df1['review_date'] = pd.to_datetime(df1['review_date'])

b. Extract year from 'review_date' column and save it to 'review_year' column

In [96]:
df1['review_year']=df1['review_date'].dt.year

c. Create a frequency table for review_year column using value_counts() and display the first 5 rows of the output using head()

In [98]:
df1['review_year'].value_counts()
df1['review_year'].head()

0    2016
1    2016
2    2015
4    2018
5    2018
Name: review_year, dtype: int32

d. Extract month **text** from 'review_date' column and save it to 'review_month' column

In [100]:
df1['review_month'] = df1['review_date'].dt.month_name()

e. Create a frequency table for review_month column using value_counts() and display the first 5 rows of the output using head()

In [102]:
df1['review_month'].value_counts()
df1['review_month'].head()

0      January
1      January
2    September
4         July
5         July
Name: review_month, dtype: object

**Question 12:**

In the following type a code to display the number of  proprties for each 'neighborhood' that were reviewed in 2016. Display the first 10 rows. (the output should show the neighborhood  and the number)

In [104]:
#df1[df1['review_year'] == 2016].groupby('neighborhood').head(10)
#df1[df1['review_year'] == 2016].groupby('neighborhood').size().reset_index(name='count').head(10)
#df1[df1['review_year'] == 2016].groupby(df1['year']).head()
df1['neighborhood'].loc[df1['review_year']==2007].head(10)

Series([], Name: neighborhood, dtype: object)

**Question 13:**

In the following type a code to display the number of properties that were reviewed in 2015 and their 'neighborhood' was 'Adlershof' (the output should show year and neighborhood as labels and the number)

In [106]:
df1[['neighborhood','review_year']].loc[(df1['neighborhood']=='Adlershof') & (df1['review_year']==2015)].value_counts()

neighborhood  review_year
Adlershof     2015           7
Name: count, dtype: int64

**Question 14:**

In the following type a code that calculates the average 'price' of properties in each 'neighborhood' for which the 'bed_type' is 'Real Bed', the number of bedrooms is greater than or equal to 3, and the properties are available. Sort the output numbers in the descending order.

Some tips To solve this problem:

* First, use .loc method to filter df1 dataframe that have these conditions: 'bed_type' is 'Real Bed', the number of bedrooms is greater than or equal to 3, 'has_availability1' is 'True' and save it to new_df dataframe. (if you do not know how to use .loc method, please refer refer to **Pandas** notebook)

* Second, calculate the average 'price' of properties in each 'neighborhood' in new_df datafarme. Then, sort the output numbers in the descending order.

In [175]:
new_df = df1.loc[(df1['bed_type'] == 'Real Bed') & (df1['bedrooms'] >= 3) & (df1['has_availability1'] == 'True')]
new_df.groupby('neighborhood')['price'].mean().sort_values(ascending=False)

neighborhood
Mitte                  158.108696
Mahlsdorf              150.000000
Rudow                  140.000000
Blankenburg            130.000000
Buckow                 110.000000
Wannsee                 90.666667
Johannisthal            90.000000
Pankow                  84.444444
Buch                    84.000000
Zehle                   70.600000
Falkenberg              70.000000
Frohnau                 67.500000
Tempelhof               66.900000
Nikolassee              62.500000
Rummelsburg             61.500000
Wilmersdorf             60.714286
Moabit                  60.388889
Hermsdorf               60.000000
Prenzlauer Berg         59.849462
Marzahn                 58.333333
Lichterfelde            58.125000
Lankwitz                55.000000
Charlottenburg-Nord     55.000000
Tiergarten              54.300000
Steglitz                52.500000
Charlottenburg          50.904762
Kladow                  50.000000
Kreuzberg               49.054054
Schmargendorf           49.000000
Wedding                 47.954545
Westend                 46.000000
Lichtenrade             46.000000
Staaken                 45.000000
Friedrichshain          43.425532
Tegel                   41.000000
Spandau                 40.000000
Alt-Treptow             39.875000
Bohnsdorf               39.000000
Britz                   39.000000
Friedenau               38.000000
Rahnsdorf               36.000000
Rosenthal               36.000000
Potsdamer Platz         35.250000
Lichtenberg             33.500000
Grunewald               30.333333
Hakenfelde              29.000000
Dahlem                  29.000000
Friedrichshagen         28.000000
Fennpfuhl               25.000000
Karow                   25.000000
Karlshorst              23.000000
Kaulsdorf               21.000000
Biesdorf                21.000000
Friedrichsfelde         20.000000
Reinickendorf           20.000000
Mariendorf              19.500000
Name: price, dtype: float64

In [165]:
new_df.head()

Empty DataFrame
Columns: [property id, country, property_type, bedrooms, bed_type, price, number_of_reviews, review_date, neighborhood, city, has_availability1, valid_neighborhood, review_year, review_month]
Index: []

### Please make sure to **run all cells** before turning in your solution file